.outerContainer {
  width: 100%;
  padding-top: 80px;
  background-size: 14px 24px;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.07) 1px, transparent 1px);
}

.backgroundEffect {
  position: absolute;
  height: 310px;
  width: 100px;
  top: 0;
  left: 45%;
  z-index: -1;
  background-color: rgb(190, 158, 190); /* Adjust color code accordingly */
  filter: blur(150px);
  border-radius: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  padding: 20px;
}

.notFound {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 300px) {
  .backgroundEffect {
    width: 180px;
  }
}

@media screen and (min-width: 600px) {
  .backgroundEffect {
    width: 310px;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 30px;
  }
  .outerContainer {
    padding: 80px 50px 50px 50px;
  }
}
@media screen and (min-width: 960px) {
  .backgroundEffect {
    width: 310px;
  }
  .cardContainer {
    padding: 0px 90px;
    grid-template-columns: repeat(3, 1fr);
  }
  .outerContainer {
    padding: 80px 50px 50px 50px;
  }
}
@media screen and (min-width: 1260px) {
  .cardContainer {
    padding: 0px 90px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1500px) {
  .cardContainer {
    padding: 0px 90px;
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Hero Section Css */

.heroContainer {
  z-index: 100;
  text-align: center;
}
.icon {
  font-size: 20px;
}
