.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 120px;
  border-bottom: 1px solid rgb(211, 204, 204);
}

.link {
  text-decoration: none;
}
