.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 6px 10px;
  border-bottom: 1px solid var(--mantine-color-light-border-0);
}
.searchContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.linkFrontend {
  margin-left: 8px !important;
  color: #c34326;
}
.linkDev {
  color: #244a55;
}

@media screen and (min-width: 730px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 0px 120px;
  }
}
