.wrapper {
  display: flex;
  padding: 10px;
}

.sidebar__form {
  width: 25%;
  border: 1px solid black;
  padding: 15px;
  height: 50vh;
  margin: 0px 10px;
}
.form__container {
  display: flex;
  flex-direction: column;
}
.form__container--field {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.transaction__main {
  flex: 1;
  padding: 15px;
  border: 1px solid black;
}

.single__Txn {
  padding: 10px;
  border: 1px solid;
  margin: 20px 10px;
}
.btn {
  background-color: rgb(24, 86, 221);
  border: none;
  color: white;
  height: 45px;
  width: 150px;
  border-radius: 4px;
}
